@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Montserrat:wght@100;400;500;700&family=Outfit:wght@400;500&display=swap");

.vertical-side {
  display: flex;
  flex-direction: row;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  align-items: center;
}

body {
  font-family: "Outfit";
  background: linear-gradient(to left, #f5f5dc, #87ceeb);
}
footer {
  background: linear-gradient(to left, #8324ba, #6880eb);
  margin-top: 100px;
}
nav {
  /* background: linear-gradient(to left, #5b24ba, #3e4f98);
   */
  background-color: #475d8d;
}

/* idk why, i can't change the intial color of the text, so I'll just leave it like text-dark */
.list-behavior {
  border-bottom: 2px solid #9c08b345;
  margin: 5px;
}

/* Here, i wanted to underline the text when it hovers over */
.list-behavior:hover {
  border-bottom: 2px solid #3852bd;
  transition-duration: 0.8s;
}

.operations {
  margin-top: 100px;
}

ul {
  list-style: none;
}

.vertical-lign {
  height: 80vh;
  border-left: solid 2px #dcdee0;
}

#y-axis {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.horizontal-lign {
  width: 100%;
  border-bottom: solid 2px #dcdee0;
}

.horizontal-side {
  width: 90%;
  margin-left: 80px;
}

#symbol-search {
  padding: 10px;
  background: #121212;
  color: #dcdee0;
  border-radius: 10px;
  font: "Montserrat";
  border: none;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}

#x-axis {
  z-index: 2;
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.graph {
  background: rgb(108, 45, 194);
  background: linear-gradient(
    90deg,
    rgba(108, 45, 194, 1) 0%,
    rgba(19, 43, 171, 1) 100%
  );
  color: #dcdee0;
  border-radius: 20px;
  padding-top: 2%;
  margin: 5%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16),
    5px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16),
    5px 5px 15px 5px rgba(0, 0, 0, 0.16);
}
.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar {
  height: 70vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 5vw;
  float: bottom;
  background-color: #dcdee0;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}

#OA {
  transform: translate(35px);
}

#CA {
  transform: translate(-10px);
}

#CR {
  transform: translate(-20px);
}

#TT {
  transform: translate(30px);
}

#CC {
  transform: translate(-20px);
}

.bars-container {
  width: 90%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  justify-content: space-around;
}

.transactions {
  background-color: white;
  min-height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  border-radius: 10px;

  margin-top: 100px;
}

#historyContainer {
  display: flex;
  flex-direction: column;
}

.transaction {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.popup-control {
  border: none;
  background: none;
}
.popup-control:hover {
  background-color: #dcdee0;
  border-radius: 5px;
}

.cancelled {
  background-color: #f1371a;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

.pending {
  background-color: #f1b01a;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

.done {
  background-color: #16ab45;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

#historyContainer {
  max-height: 500px;
  overflow-y: scroll;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 80vw;
  height: 80vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 80vh;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.transaction .timestamp {
  opacity: 0.6
}

.transaction .state {
  display: flex;
  align-items: center;
  flex-basis: 400px;
  padding-left: 10px;
  justify-content: space-between;
  padding-right: 5px;
}